* {
    font-family: sans-serif !important;
}

.container {
    width: 600px;
    margin: 40px auto;
    min-height: 700px;
    position: relative;
}

.message-list-wrapper {
    border: 1px solid #aaa;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    display: block;
    background: rgba(200, 200, 200, .5);
    padding: 20px;
    overflow-y: scroll;
}

.message-wrapper {
    display: block;
    height: 56px;
    clear: both;
    margin: 10px 0;
}

.message {
    float: left;
    background: white;
    border-radius: 15px;
    padding: 10px;
}

.right {
    float: right;
}

.right .user {
    float: right;
    color: green;
}

.user {
    color: red;
}

.send-msg-wrapper {
    width: 100%;
    height: 55px;
    margin: 10px 0;
}

.message-input {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    background: transparent;
    box-sizing: border-box;
    width: 90%;
    float: left;
    height: 50px;
    font-size: 18px;
}

.message-input:focus {
    border-bottom: 2px solid green;
}

a.send-btn {
    background: rgb(212, 230, 241);
    width: 10%;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    float: left;
    cursor: default;
}

a.send-btn:hover {
    background: rgb(222, 240, 251);
}

a.send-btn:active {
    background: rgb(202, 220, 231);
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.modal {
    width: 400px;
    height: 200px;
    border-radius: 4px;
    background: rgba(200, 200, 200, .5);
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.choose-name-input {
    width: 200px;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    margin: 20px;
    background: transparent;
}

.choose-name-input:focus {
    border-bottom: 2px solid green;
}

.choose-name-button {
    display: block;
    background: rgb(70, 81, 240);
    width: 40px;
    border: none;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}